@model Loan;

@{
}


<div class="container">
  <h1 class="mb-2">Loan Calculator</h1>
  <div class="row">
    <div class="col">
      <form class="loanForm" id="loanForm" asp-controller="Home" asp-action="App" method="post">
        <div class="form-row col-12">
          <div class="form-group col-12">
            <label asp-for="Amount"> Loan Amount</label>
            <input type="number" class="form-control" id="amount" min="1" value=@Model.Amount asp-for=Amount />
          </div>
          <div class="form-group col-12">
            <label asp-for="Term"> Term:</label>
            <input type="number" class="form-control" id="term" min="1" value=@Model.Term asp-for=Term />
          </div>
          <div class="form-group col-12">
            <label asp-for="Rate"> Rate:</label>
            <input type="number" class="form-control" id="rate" min="1" step=".1" value=@Model.Rate asp-for=Rate />
          </div>
        </div>
        <button type="submit" id="calBtn" class="btn btn-cfOrange mt-2"> Calculate</button>
      </form>
    </div>
    <div class="col details">
      <div id="paymentTitle">
        <p><b>Your Monthly Payments</b></p>
      </div>
      <p id="payment">
        @Model.Payment.ToString("C")
      </p>
      <div class="row">
        <div class="col-6">
          <label class="text-start">Total Principal</label>
        </div>
        <div class="col-6 text-end" id="totalPrinciple">
          @Model.Amount.ToString("C")
        </div>

        <div class="col-6">
          <label class="text-start">Total Interest</label>
        </div>
        <div class="col-6 text-end" id="totalInterest">
          @Model.TotalInterest.ToString("C")
        </div>
        <div class="col-6">
          <label class="text-start">Total Cost</label>
        </div>
        <div class="col-6 text-end" id="totalCost">
          <b>
            @Model.TotalCost.ToString("C")
          </b>
        </div>
      </div>
    </div>
  </div>
  @if (@Model.Payments.Count > 0)
  {
    <div class="row">
      <div class="col">
        <table class="table table-striped table-hover table-bordered mt-5" id="scheduleTable">
          <thead class="text-white" id="tableheader">
            <tr>
              <th>Month</th>
              <th>Payment</th>
              <th>Principal</th>
              <th>Interest</th>
              <th>Total Interest</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model.Payments)
            {
              <tr>
                <td>@item.Month</td>
                <td>@item.Payment.ToString("C")</td>
                <td>@item.MonthlyPrincipal.ToString("C")</td>
                <td>@item.MonthlyInterest.ToString("C")</td>
                <td>@item.TotalInterest.ToString("C")</td>
                <td>@item.Balance.ToString("C")</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }

</div>